Source: rift
Priority: extra
Maintainer: Ruslan Nigmatullin <euroelessar@yandex.ru>
Build-Depends: cdbs, debhelper (>= 7), cmake, libthevoid-dev (>= 0.7.0.5), libswarm-dev (>= 0.7.0.5), libmsgpack-dev,
  libboost-system-dev, libboost-thread-dev, libboost-program-options-dev, elliptics-dev (>= 2.26.3.12), elliptics (>= 2.26.3.12), elliptics-client (>= 2.26.3.12),
  python-pip, python-virtualenv, cocaine-framework-native (>= 0.11.1.2), libcrypto++-dev, libboost-filesystem-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/reverbrain/rift
Vcs-Git: git://github.com/reverbrain/rift.git
Vcs-Browser: https://github.com/reverbrain/rift

Package: rift
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics (>= 2.26.3.12), elliptics-client (>= 2.26.3.12), libthevoid2 (>= 0.7.0.5), libswarm2 (>= 0.7.0.5)
Description: Rift is an HTTP access point to elliptics distributed network

Package: rift-dev
Section: libdevel
Architecture: any
Depends: rift (= ${binary:Version}), libthevoid-dev (>= 0.7.0.5), libswarm-dev (>= 0.7.0.5), libboost-system-dev
Description: Rift is an HTTP access point to elliptics distributed network (devel)
 Development files

Package: rift-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, rift (= ${binary:Version})
Description: Rift is an HTTP access point to elliptics distributed network (debug)
 Debug files and symbols.
